.counterSettings{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 130px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: black solid 1px;
    border-radius: 2px;
}
.maxValueWrapper{
    width: 180px;
    font-size: 15px;
    color: black;
}
.minValueWrapper{
    width: 180px;
    font-size: 15px;
    color: black;
}

.buttonWrapper{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.displayMaxValue {
    color: red;
    opacity: 0.5;
}
